<template>
  <CThemeProvider>
    <CColorModeProvider>
      <CBox min-h="100vh" font-family="body" as="main" bg="bg.DEFAULT" p="4">
        <CFlex align="center" pb="2" border-bottom="1px solid" border-color="#f5f5f5">
          <CImage h="12" :src="require(`~/static/pingr-logo.svg`)" />
        </CFlex>
        <CReset />
        <Nuxt />
      </CBox>
    </CColorModeProvider>
  </CThemeProvider>
</template>
<script>

import {
  CThemeProvider,
  CColorModeProvider,
  CReset,
  CBox,
  CFlex,
  CImage
} from '@chakra-ui/vue'

export default {
  name: 'App',
  components: {
    CThemeProvider,
    CColorModeProvider,
    CReset,
    CBox,
    CImage,
    CFlex
  }
}
</script>
