<template>
  <form @submit="onSubmit">
    <c-box p="4">
      <c-textarea
        v-model="formData.content"
        w="full"
        h="32"
        placeholder="Escreva o conteúdo do ping aqui"
        color="fg.DEFAULT"
        bg="bg.light"
        border="none"
        _focus="{
          border: 'none',
        }"
      />
      <c-flex mt="4" justify="space-between" align="center" max-w="640px">
        <c-grid-item>
          <c-form-control>
            <c-form-label
              html-for="ping-mode"
              pr="1"
              font-size="xs"
              text-align="right"
              color="fg.DEFAULT"
            >
              Feed
            </c-form-label>
            <c-switch id="ping-mode" v-model="formData.isDirect" />
            <c-form-label
              html-for="ping-mode"
              pr="0"
              pl="1"
              font-size="xs"
              color="fg.DEFAULT"
            >
              Direct Ping
            </c-form-label>
          </c-form-control>
        </c-grid-item>
        <c-grid-item>
          <c-input
            v-model="formData.destination"
            placeholder="Destinatário"
            color="fg.DEFAULT"
            bg="bg.light"
            border="none"
            _focus="{
              border: 'none',
            }"
          />
        </c-grid-item>
        <c-grid-item>
          <c-button
            :disabled="hasErrors"
            type="submit"
            color="fg.DEFAULT"
            bg="primary.DEFAULT"
          >
            Enviar
          </c-button>
        </c-grid-item>
      </c-flex>
    </c-box>
  </form>
</template>

<script lang="js">
import { CTextarea, CSwitch, CFormControl, CFormLabel, CInput, CButton, CFlex, CGridItem, CBox } from '@chakra-ui/vue'

export default {
  name: 'App',
  components: {
    CTextarea, CSwitch, CFormControl, CFormLabel, CInput, CButton, CFlex, CGridItem, CBox
  },
  data: () => ({
    formData: {
      content: '',
      isDirect: false,
      destination: ''
    }
  }),
  computed: {
    isFeed () {
      return !this.formData.isDirect
    },
    formErrors () {
      const errors = {}
      const form = this.formData

      if (form.length <= 0) { errors.content = 'Conteúdo inválido' }

      if (!form.destination) { errors.destination = 'Destinatário inválido' }

      return errors
    },
    hasErrors () {
      return Object.values(this.formErrors).filter(x => !!x).length > 0
    }
  },
  methods: {
    onSubmit (evt) {
      this.send()
      evt.preventDefault()
    },
    send () {
      if (this.formData.isDirect) {
        console.log('Direct Ping - ', JSON.stringify({ ...this.formData }, null, 2))
      } else {
        console.log('Ping - ', JSON.stringify({
          text: this.formData.content,
          tags: [],
          imageURLs: [],
          visibilityOverride: undefined
        }, null, 2))
      }

      const title = this.formData.isDirect ? 'Direct Ping enviado.' : 'Ping publicado.'

      return Promise.resolve(true).then(() => {
        this.$toast({
          title,
          status: 'success',
          duration: 10000
        })
      })
    },
    resetForm () {
      this.formData.content = ''
    }
  }
}
</script>
